<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <!--<system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name="netTcpEndpoint"/>

      <endpoint address="http://localhost/GeoService"
                binding="basicHttpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name="httpEndpoint"/>
    </client>
  </system.serviceModel>-->

  <system.serviceModel>
    <services>
      <service name="GeoLib.WcfServiceLibrary.GeoManager">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8009"/>
            <add baseAddress="http://localhost"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="/GeoService"
                  binding="netTcpBinding"
                  contract="GeoLib.Contracts.IGeoService" />

        <endpoint address="/GeoService"
                  binding="basicHttpBinding"
                  contract="GeoLib.Contracts.IGeoService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>